.git
.github
.idea
node_modules
vendor
.env
.env.*
!.env.docker
!.env.docker.example
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.gitignore
.gitattributes
README.md
CHANGELOG.md
CONTRIBUTING.md
docker-compose*.yml
Dockerfile*
phpunit.xml
phpstan.neon
.editorconfig
.styleci.yml
.vault-password
.infrastructure
!.infrastructure/**/local-ca.pem
docker-*.yml
.gitlab-ci.yml
.spin*
